/.vscode/c_cpp_properties.json
/.vscode/tasks.json
/build/.cmake/api/v1/query/client-vscode/query.json
/build/.cmake/api/v1/reply/cache-v2-11d13da3359e3977f3ce.json
/build/.cmake/api/v1/reply/cmakeFiles-v1-5a959a55a31d98821d88.json
/build/.cmake/api/v1/reply/codemodel-v2-9f233f5f50e9dc0e8f23.json
/build/.cmake/api/v1/reply/directory-.-Debug-f040eec181a89de70dbe.json
/build/.cmake/api/v1/reply/index-2026-06-20T23-35-11-0301.json
/build/.cmake/api/v1/reply/target-CluedoBoardConfigurator_autogen_timestamp_deps-Debug-a0bb2ed148a16c030e68.json
/build/.cmake/api/v1/reply/target-CluedoBoardConfigurator_autogen-Debug-3e7d508cbc48431ea714.json
/build/.cmake/api/v1/reply/target-CluedoBoardConfigurator-Debug-964b4f373bc0a955ad7e.json
/build/.cmake/api/v1/reply/target-Qt__androiddeployqt-Debug-2614a5c04963e72ad5a0.json
/build/.cmake/api/v1/reply/target-Qt__androidtestrunner-Debug-6d95625b2387f2e374ee.json
/build/.cmake/api/v1/reply/target-Qt__cmake_automoc_parser-Debug-901e5e9304bcbc3f6c10.json
/build/.cmake/api/v1/reply/target-Qt__moc-Debug-8c29af5158a3b6269115.json
/build/.cmake/api/v1/reply/target-Qt__qlalr-Debug-aa92baca284a78d841f6.json
/build/.cmake/api/v1/reply/target-Qt__qmake-Debug-f7f1011324329edf7cda.json
/build/.cmake/api/v1/reply/target-Qt__qtpaths-Debug-b782fb3b19e18064cd18.json
/build/.cmake/api/v1/reply/target-Qt__qvkgen-Debug-91643e4474790e199bbf.json
/build/.cmake/api/v1/reply/target-Qt__rcc-Debug-123e4f71f6a2e41fce4c.json
/build/.cmake/api/v1/reply/target-Qt__syncqt-Debug-1bf1ca19a01034165229.json
/build/.cmake/api/v1/reply/target-Qt__tracegen-Debug-1c884f18c175e7ee207a.json
/build/.cmake/api/v1/reply/target-Qt__tracepointgen-Debug-ce5f2fd7aa587d727347.json
/build/.cmake/api/v1/reply/target-Qt__uic-Debug-f314c30ad91c8b8eaa4b.json
/build/.cmake/api/v1/reply/target-Qt__wasmdeployqt-Debug-ae278ee480f6ff5954c7.json
/build/.cmake/api/v1/reply/target-Qt__windeployqt-Debug-7cf8c20a7780c3ec0165.json
/build/.cmake/api/v1/reply/target-Qt6__androiddeployqt-Debug-30420e318cba6cadb716.json
/build/.cmake/api/v1/reply/target-Qt6__androidtestrunner-Debug-219eda21248fe19e26bb.json
/build/.cmake/api/v1/reply/target-Qt6__cmake_automoc_parser-Debug-0da17a76ac3fa841cfb1.json
/build/.cmake/api/v1/reply/target-Qt6__Core-Debug-018c748b95b837f438d9.json
/build/.cmake/api/v1/reply/target-Qt6__EntryPointImplementation-Debug-8d33815dd4e671eb2187.json
/build/.cmake/api/v1/reply/target-Qt6__EntryPointPrivate-Debug-df5c27e60f47eb946b45.json
/build/.cmake/api/v1/reply/target-Qt6__GlobalConfig-Debug-cd6617e4ad64e942edf7.json
/build/.cmake/api/v1/reply/target-Qt6__GlobalConfigPrivate-Debug-bfaea3eca8cdab6b59f7.json
/build/.cmake/api/v1/reply/target-Qt6__Gui-Debug-b11a0252ea94c47c0472.json
/build/.cmake/api/v1/reply/target-Qt6__moc-Debug-e1afe23b14a0f77e8fa5.json
/build/.cmake/api/v1/reply/target-Qt6__Platform-Debug-c3827815ffd749068079.json
/build/.cmake/api/v1/reply/target-Qt6__PlatformAppInternal-Debug-07e1a54a601c25caf36d.json
/build/.cmake/api/v1/reply/target-Qt6__PlatformCommonInternal-Debug-bec3d6701f972abd2430.json
/build/.cmake/api/v1/reply/target-Qt6__PlatformExampleInternal-Debug-c8a24a20f92a4de0bcbc.json
/build/.cmake/api/v1/reply/target-Qt6__PlatformModuleInternal-Debug-7e6c583caa7802701320.json
/build/.cmake/api/v1/reply/target-Qt6__PlatformPluginInternal-Debug-bf37272d93931f1ddd2e.json
/build/.cmake/api/v1/reply/target-Qt6__PlatformToolInternal-Debug-b99348b1951a82f810ad.json
/build/.cmake/api/v1/reply/target-Qt6__QGifPlugin-Debug-5f1d04b62c84a0c9ddbd.json
/build/.cmake/api/v1/reply/target-Qt6__QICOPlugin-Debug-cd589f578df384166d62.json
/build/.cmake/api/v1/reply/target-Qt6__QJpegPlugin-Debug-b9152133cfb9f5c7d281.json
/build/.cmake/api/v1/reply/target-Qt6__qlalr-Debug-9b6fcab217429565490f.json
/build/.cmake/api/v1/reply/target-Qt6__qmake-Debug-2ffff6d906693ef04a3a.json
/build/.cmake/api/v1/reply/target-Qt6__QMinimalIntegrationPlugin-Debug-3127aa387b5147f322d6.json
/build/.cmake/api/v1/reply/target-Qt6__QModernWindowsStylePlugin-Debug-4be6eb8e4c099e46a7e1.json
/build/.cmake/api/v1/reply/target-Qt6__QOffscreenIntegrationPlugin-Debug-bf35e244a9fce7c09b83.json
/build/.cmake/api/v1/reply/target-Qt6__QSvgIconPlugin-Debug-623a27e6f1390acb64be.json
/build/.cmake/api/v1/reply/target-Qt6__QSvgPlugin-Debug-7727611af4749446945b.json
/build/.cmake/api/v1/reply/target-Qt6__qtpaths-Debug-306a026b6a1d5cd3e00e.json
/build/.cmake/api/v1/reply/target-Qt6__QTuioTouchPlugin-Debug-3ec463ba2c9de527fed9.json
/build/.cmake/api/v1/reply/target-Qt6__qvkgen-Debug-99bf127d8a40da875716.json
/build/.cmake/api/v1/reply/target-Qt6__QWindowsDirect2DIntegrationPlugin-Debug-4019c0e9316acc98cf28.json
/build/.cmake/api/v1/reply/target-Qt6__QWindowsIntegrationPlugin-Debug-4ac9e1c803e935e22723.json
/build/.cmake/api/v1/reply/target-Qt6__rcc-Debug-bffaa32bbc009332b6d7.json
/build/.cmake/api/v1/reply/target-Qt6__syncqt-Debug-67041cf2bab34c7116db.json
/build/.cmake/api/v1/reply/target-Qt6__tracegen-Debug-742e48bc373b01d5297f.json
/build/.cmake/api/v1/reply/target-Qt6__tracepointgen-Debug-726aa5645f33a90f2a01.json
/build/.cmake/api/v1/reply/target-Qt6__uic-Debug-6d1f2310198350a6376a.json
/build/.cmake/api/v1/reply/target-Qt6__wasmdeployqt-Debug-8b5436df5133c16d619b.json
/build/.cmake/api/v1/reply/target-Qt6__Widgets-Debug-afcf434555e6afa9e7df.json
/build/.cmake/api/v1/reply/target-Qt6__windeployqt-Debug-94a123ed0d263d607ffb.json
/build/.cmake/api/v1/reply/target-Threads__Threads-Debug-66e0c067eb63c9af90e8.json
/build/.cmake/api/v1/reply/target-WrapAtomic__WrapAtomic-Debug-5c283e83c4f676977c42.json
/build/.cmake/api/v1/reply/toolchains-v1-93468159fff47d23757b.json
/build/.qt/QtDeploySupport.cmake
/build/.qt/QtDeployTargets.cmake
/build/CluedoBoardConfigurator_autogen/deps
/build/CluedoBoardConfigurator_autogen/moc_predefs.h
/build/CluedoBoardConfigurator_autogen/mocs_compilation.cpp
/build/CluedoBoardConfigurator_autogen/timestamp
/build/CMakeFiles/4.3.3/CompilerIdCXX/a.exe
/build/CMakeFiles/4.3.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/4.3.3/CMakeCXXCompiler.cmake
/build/CMakeFiles/4.3.3/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/4.3.3/CMakeRCCompiler.cmake
/build/CMakeFiles/4.3.3/CMakeSystem.cmake
/build/CMakeFiles/CluedoBoardConfigurator_autogen.dir/AutogenInfo.json
/build/CMakeFiles/CluedoBoardConfigurator_autogen.dir/AutogenUsed.txt
/build/CMakeFiles/CluedoBoardConfigurator_autogen.dir/ParseCache.txt
/build/CMakeFiles/CluedoBoardConfigurator.dir/CluedoBoardConfigurator_autogen/mocs_compilation.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/commands/AssignDoorCommand.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/commands/PaintCellCommand.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/controller/ConfigExporter.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/controller/GridController.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/controller/PaintController.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/model/GamePiece.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/model/Room.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/view/BoardView.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/view/DoorDialog.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/view/GridOverlay.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/view/GridSettingsPanel.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/view/MainWindow.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/view/PieceDialog.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/view/RoomDialog.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/view/ToolBar.cpp.obj
/build/CMakeFiles/CluedoBoardConfigurator.dir/src/main.cpp.obj
/build/CMakeFiles/clean_additional.cmake
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/CMakeConfigureLog.yaml
/build/CMakeFiles/InstallScripts.json
/build/CMakeFiles/rules.ninja
/build/CMakeFiles/TargetDirectories.txt
/build/.ninja_deps
/build/.ninja_log
/build/build.ninja
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/compile_commands.json
/build/Makefile
